{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col-6">
            <table class="table table-hover caption-top">
                <caption>Номенклатура</caption>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Наименование</th>
                    </tr>
                </thead>
                <tbody>
                    {% for good in goods %}
                        <tr id="tr{{ good.id }}">
                            <th scope="row">{{ forloop.counter }}</th>
                            <td class='tdGoods' id="td{{ good.id }}">
                                {{ good.good_name }}
                            </td>
                            <td class='tdGoods' id="art{{ good.id }}" style="display: none">
                                {{ good.good_article }}
                            </td>
                            <td class='tdGoods' id="plu{{ good.id }}" style="display: none">
                                {{ good.goods_plu }}
                            </td>
                            <td class='tdGoods' id="cns{{ good.id }}" style="display: none">
                                {{ good.goods_constituent }}
                            </td>
                            <td class='tdGoods' id="cnd{{ good.id }}" style="display: none">
                                {{ good.goods_conditions }}
                            </td>
                            <td class='tdGoods' id="per{{ good.id }}" style="display: none">
                                {{ good.goods_period }}
                            </td>
                            <td class='tdGoods' id="nut{{ good.id }}" style="display: none">
                                {{ good.goods_nutrition }}
                            </td>
                            <td class='tdGoods' id="txt{{ good.id }}" style="display: none">
                                {{ good.goods_text }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <table class="table table-hover caption-top" id="selItems">
                <caption>Этикетки</caption>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Наименование</th>
                        <th scope="col">Количество</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <p id="org" style="display: none">
        {% for row in org %}
            {{ row.org_name }}
            {{ row.org_address }}
        {% endfor %}
    </p>

{#                <div class="row" id="prevRow"  style="padding: 0; font-size: 7pt; height: 5px;">#}
{#                </div>#}

{% endblock content %}