<div class="modal fade" id="addItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true" style="z-index: 1100">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title" id="staticBackdropLabel">Добавить этикетку</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-8"><input type="text" class="form-control" id="name"></div>
                    <div class="col-4">
                        <div class="input-group">
                            <input type="text" class="form-control" id="count">
                            <button class="btn btn-outline-success" type="button" id="btnInc">+</button>
                            <button class="btn btn-outline-danger" type="button" id="btnDec">-</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-success" id="addBtn">Добавить</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="preView" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true" style="z-index: 1100">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title" id="staticBackdropLabel">Предпросмотр</h5>&nbsp;&nbsp;&nbsp;

                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row" id="prevRow"  style="padding: 0; font-size: 7pt; height: 400px;">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="printJS('prevRow', 'html')">Печать</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="prnStart">Печать</button>
            </div>
        </div>
    </div>
</div>